body {
    width: 400px;
    height:250px;
}

.button {
    padding: 10px;
    line-height: 1em;
    border: 0;
    background: #03a9f4;
    color: #fff;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
  }

  #respMsg {
      color:red;
      font-size:14px;
  }